---
layout: default
title: Start Page
---
<div class="container">
  <div class="row">
    {% for category in site.data.hyperlinks %}
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item"><h2>{{ category.label }}</h2></li>
        {% for item in category.children %}
        <li class="list-group-item">
          <a href="{{ item.url }}">
            {% if item.icon %}{{ item.icon }} {% endif %}{{ item.title }}</a>
          {% if item.description %}
          <small class="text-muted font-weight-light description">{{ item.description }}</small>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</div>
